@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-primaria: #FFC000;
    --cor-secundaria: #0942B4;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-weight: 600;
    font-family: "Poppins", sans-serif;

    outline: none;
}


/* NAVIGATION */
.navigation {
    background: #FFC000;

    height: 18vh;
    width: 100%;
}

.topbar_navigation {
    height: 40%;
    padding: 5px 30px 5px 0px;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    border-bottom: 3px solid #000;
}

.btn_login {
    cursor: pointer;
    margin-right: 30px;
    padding: 5px;
    transition-duration: .5s;
}

.btn_login:hover {
    padding: 0px;
    border-bottom: 1px solid;
}

.topbar_navigation i {
    font-size: 40px;
}

.bottombar_navigation {
    display: flex;
    align-items: center;

    justify-content: space-around;

    height: 60%;
}

.logo_navigation {
    height: 80%;
}

.links_navigation {
    margin-left: 30%;
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.link_navigation {
    border: none;
    background-color: transparent;

    cursor: pointer;

    transition-duration: 0.5s;
}

.link_navigation:hover {
    text-decoration: underline;

    transform: scale(1.1) translateX(-3px) translateY(-3px);
}


/* BODY */
.container {
    height: min-content;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* BANNER */
.div_banner {
    width: 100%;
    height: 82vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    width: 100%;
    height: 100%;

    filter: brightness(40%);

    background-image: url("../img/banner_home.png");
}

.title_banner {
    color: #FFF;

    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;

    position: absolute;

    animation-name: anm_title_banner;
    animation-duration: 2s;
}


/* ABOUT US */
.container_aboutus {
    height: 60vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutus {
    height: 50%;
    width: 40%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.title_aboutus {
    margin-bottom: 30px;

    text-transform: uppercase;
    font-weight: 900;
}

.division_aboutus_msv {
    width: 40%;
    height: 2px;

    border: none;

    background-color: #000;

    align-self: center;
}


/* MSV */
.container_msv {
    height: 50vh;
}

@keyframes anm_title_banner {
    0% {
        filter: opacity(0%);
        transform: translateY(10px);
    }

    100% {
        filter: opacity(100%);
        transform: translateY(0px);
    }
}