/* .navigation {
    display: none;
} */

/* body {
    background-color: black;
} */

.container_registration {
    background-image: url('../img/fundo-login.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

.box_registration {
    width: 70vw;
    height: 80vh;

    background-color: #FFF;

    box-shadow: 0px 0px 999px black;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.logo_registration {
    width: 25vw;
}
.title_registration {
    text-transform: uppercase;
    font-size: 30px;

    height: 1%;
}

.form_registration {
    height: 60%;
    width: 80%;
}

.inputs-form_registration {
    height: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.inputs_top_registration {
    width: 100%;
    height: 30%;

    display: flex;
    align-items: center;
    justify-content: space-around;
}
.inputs_left_registration,
.inputs_right_registration {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



.form_registration input {
    margin: 0;
    
    border: 3px solid #222;

    height: 35px;
    width: 25vw;

    transition-duration: .5s;
}
.input_email {
    width: 100%;

    display: flex;
    justify-content: center;
}
.input_email input {
    width: 95%;
}
.input-terms_registration {
    display: flex;
    align-items: center;
    justify-content: space-around;

    height: 35px;
    width: 25vw;
}
.passwords {
    width: 100%;
    
    display: flex;
    justify-content: space-around;
}
.input-terms_registration input {
    width: 20px;

    margin: 0;
}

.input-terms_registration label {
    margin: 0;
    margin-left: 5px;

    font-size: 15px;
}
.form_registration input:hover,
.form_registration input:focus {
    border-color: var(--cor-primaria);
}
.buttons_register {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
}
.link_register {
    width: 45%;
}

.link_register button {
    width: 100%;
}

.btn_registration {
    background-color: var(--cor-primaria);

    transition-duration: .2s;
}

.btn_registration:hover {
    background-color: #222;
    color: var(--cor-primaria);

    transform: scale(1.03);
}

.btn_registration:active {
    transform: scale(1.0001);
}

.btn_back_registration {
    background-color: var(--cor-terciaria);
    color: #FFF;
}